{% extends "base.html" %} 

{% block content %}
	<div class="row">
		{% for pizza in pizzas %}
			<div class="col-4">
				<div class="card">
					<img src="/{{pizza.image}}" class="card-img-top" alt="{{pizza.name}}">
					<div class="card-body">
					<h5 class="card-title">{{pizza.name}}</h5>
					<button type="button" class="btn btn-primary">+</button>
					<span>0</span>
					<button type="button" class="btn btn-secondary">-</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary my-5">Submit</button>
				<a href="{% url 'orders.list' %}" class="btn btn-secondary my-5">Cancel</a>
			</form>
		</div>
		<div class="col-4"></div>
	</div>

	{% if form.errors.title %}
		<div class="alert alert-danger">
			{{ form.errors.title.as_text }}
		</div>
	{% endif %}
	{% if form.errors.size %}
		<div class="alert alert-danger">
			{{ form.errors.size.as_text }}
		</div>
	{% endif %}
	{% if form.errors.quantity %}
		<div class="alert alert-danger">
			{{ form.errors.quantity.as_text }}
		</div>
	{% endif %}
{% endblock %}
