{% extends "base.html" %} 

{% block content %}
	<div class="card">
		<div class="card-header">
			<h1>Received orders:</h1>
		</div>
		<div class="card-body">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Size</th>
					<th scope="col">Quantity</th>
					<th scope="col">Status</th>
					<th scope="col">Created At</th>
					<th scope="col">Actions</th>
				  </tr>
				</thead>
				<tbody>
					{% for order in orders.received %}
						<tr>
							<th>{{ order.id }}</th>
							<td>{{ order.title }}</td>
							<td>{{ order.get_size_display }}</td>
							<td>{{ order.quantity }}</td>
							<td>
								{% if order.status == "r" %}
									<span class="badge bg-secondary">{{ order.get_status_display }}</span>
								{% elif order.status == "p" %}
									<span class="badge bg-warning text-dark">{{ order.get_status_display }}</span>
								{% elif order.status == "d" %}
									<span class="badge bg-success text-dark">{{ order.get_status_display }}</span>
								{% else %}
									<span class="badge bg-danger text-dark">Not Specificed!</span>
								{% endif %}
							</td>
							<td>
								<span class="badge bg-secondary">{{ order.created_at }}</span>
							</td>
							<td>
								<a href="{% url 'orders.delete' pk=order.id %}" class="btn btn-danger">
									Cancel
								</a>
							</td>
						  </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<br>

	<div class="card">
		<div class="card-header">
			<h1>Current orders:</h1>
		</div>
		<div class="card-body">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Size</th>
					<th scope="col">Quantity</th>
					<th scope="col">Status</th>
					<th scope="col">Created At</th>
					<th scope="col">Is Ready In</th>
				  </tr>
				</thead>
				<tbody>
					{% for order in orders.preparing %}
						<tr>
							<th>{{ order.id }}</th>
							<td>{{ order.title }}</td>
							<td>{{ order.get_size_display }}</td>
							<td>{{ order.quantity }}</td>
							<td>
								{% if order.status == "r" %}
									<span class="badge bg-secondary">{{ order.get_status_display }}</span>
								{% elif order.status == "p" %}
									<span class="badge bg-warning text-dark">{{ order.get_status_display }}</span>
								{% elif order.status == "d" %}
									<span class="badge bg-success text-dark">{{ order.get_status_display }}</span>
								{% else %}
									<span class="badge bg-danger text-dark">Not Specificed!</span>
								{% endif %}
							</td>
							<td>
								<span class="badge bg-secondary">{{ order.created_at }}</span>
							</td>
							<td>
								<span class="badge bg-warning text-dark">
									{% if order.size == "s" %}
										{% widthratio order.quantity 1 15 %} Minutes
									{% elif order.size == "m" %}
										{% widthratio order.quantity 1 30 %} Minutes
									{% elif order.size == "l" %}
										{% widthratio order.quantity 1 45 %} Minutes
									{% else %}
										1 Century !
									{% endif %}
								</span>
							</td>
						  </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-header">
			<h1>Delivered orders:</h1>
		</div>
		<div class="card-body">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Size</th>
					<th scope="col">Quantity</th>
					<th scope="col">Status</th>
					<th scope="col">Created At</th>
					<th scope="col">Delivered At</th>
				  </tr>
				</thead>
				<tbody>
					{% for order in orders.delivered %}
						<tr>
							<th>{{ order.id }}</th>
							<td>{{ order.title }}</td>
							<td>{{ order.get_size_display }}</td>
							<td>{{ order.quantity }}</td>
							<td>
								{% if order.status == "r" %}
									<span class="badge bg-secondary">{{ order.get_status_display }}</span>
								{% elif order.status == "p" %}
									<span class="badge bg-warning text-dark">{{ order.get_status_display }}</span>
								{% elif order.status == "d" %}
									<span class="badge bg-success">{{ order.get_status_display }}</span>
								{% else %}
									<span class="badge bg-danger text-dark">Not Specificed!</span>
								{% endif %}
							</td>
							<td>
								<span class="badge bg-secondary">{{ order.created_at }}</span>
							</td>
							<td>
								{% if order.delivered_at is not None %}
									<span class="badge bg-success">{{ order.delivered_at }}</span>
								{% else %}
									<span class="badge bg-warning text-dark">Future!</span>
								{% endif %}
							</td>
						  </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
